body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}




.flex1 {
  background: #f6f5f7;
  padding: 20px;
  height: 665px;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider-container {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: start;

    .slick-list {
      width: 120vh;
      display: grid;
      justify-content: center;
    }

    .slider-main {
      .slider-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .slidePic {
          width: 70%;
          margin: 0 auto; 
        }

        .slider-title {
          color: black;

          h2 {
            display: flex;
            margin-left: 60px;
            font-weight: bold;
            font-variant: contextual;
            text-align: center;
            color: #333;
          }
        }

        .slider-subtitle {
          color: black;
          margin-left: 60px;
          margin-bottom: 10px;

          h3 {
            display: flex;
            margin: 0;
            font-weight: lighter;
            font-variant: contextual;
            color: #333;
          }
        }
      }
    }


    button.slick-prev:before,
    button.slick-next:before {
      color: #333;
    }
  }

  @media (max-width: 950px) {
    height: 465px;
    .slider-container {
      width: 100%;
      display: grid;
      justify-content: center;
      justify-items: start;
  
      .slick-list {
        width: 75vh;
        display: grid;
        justify-content: center;
      }
  
      .slider-main {
        .slider-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .slidePic {
            width: 70%;
            margin: 0 auto; 
          }
  
          .slider-title {
            color: black;
  
            h2 {
              display: flex;
              margin-left: 60px;
              font-weight: bold;
              font-variant: contextual;
              text-align: center;
              color: #333;
            }
          }
  
          .slider-subtitle {
            color: black;
            margin-left: 60px;
            margin-bottom: 10px;
  
            h3 {
              display: flex;
              margin: 0;
              font-weight: lighter;
              font-variant: contextual;
              color: #333;
            }
          }
        }
      }
  
  
      button.slick-prev:before,
      button.slick-next:before {
        color: #333;
      }
    }
  }
}


.products1 {
  height: auto;
  background: #f6f5f7;
  color: #333;
  padding: 20px; 
  text-align: center;
  margin-left: 50px;

  .product-container {
    border: 1px solid #ddd; 
    border-radius: 12px; 
    padding: 20px; 
    background-color: #f9f9f9; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .trend-title {
    font-size: 24px; 
    margin-bottom: 20px; 
  }
  
.product-thumbnail {
  width: 300px; 
  margin-bottom: 20px; 
  cursor: pointer;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  overflow: hidden; 
  margin-right: 10px; 
  margin-bottom: 10px; 
  transition: transform 0.2s ease-in-out; 
  background-color: #fff;
}

.product-thumbnail img {
  max-width: 100%;
  height: auto;
  display: block; 
}

.product-thumbnail:hover {
  transform: scale(1.05); 
}

}


.contact1 {
  background: #f6f5f7;
  color: #333; 
  padding: 20px; /* Espaciado interno */
  padding-bottom: 10%;
  height: auto;
  display: flow-root;
}

.icon-section {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10%;
  z-index: 3;

  a {
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #333; 
    :hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
      color: #000;
    }
  }

  i {
    font-size: 24px;
  }

  .iconlist {
    :active {
      color: black;
    }
  }
}

.modal-style {
  background-color: #00000057;
  .box-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 550px;
    background-color: white; 
    border: 3px solid #000;
    box-shadow: 24px; 
    padding: 4px; 

    @media (max-width: 950px) {
      width: 74%;
      height: auto;
    }

    .title-modal {
      display: flex;
      justify-content: center;
    }
    .button-fav-group {
      display: flex;
      justify-content: end;
      .fab-button {
        margin: 5px;
        background-color: rgb(204, 57, 57);
      }
      .shop-button {
        margin: 5px;
        background-color: rgb(105, 105, 212);
      }
    }
  }
}
