.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px; 
  
    ul {
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
      margin-right: auto;
  
      li {
        margin-right: 20px;
  
        a {
          text-decoration: none;
          font-size: 17px;
          font-weight: 400;
          font-variant: all-petite-caps;
          color: white;
          padding: 5px 10px;
          transition: background-color 0.3s;
  
          &:hover {
            color: rgb(140, 140, 214);
          }
  
          &:active {
            color: #291f5a;
            font-weight: 700;
          }
        }
      }
    }
  
    .uamLogo{
      max-width: 120px;
      height: auto;
      margin-right: 3%;
      
    }
    .avatar-admin{
        max-width: 50px;
        height: auto;
        border-radius: 50%;
    }
  
    .menu-toggle {
      display: none;
    }
  
    .avatar-container {
      display: flex;
      align-items: center;
        
      .avatar {
        max-width: 70px;
        height: auto;
        border-radius: 50%;
        border: 2px solid #6b6b6b8e;
        margin-left: 20px;
      }
  
    .button-login{
      color:white;
    }
    }
  
    .content {
      padding-left: 80px;
      padding-right: 40px;
      
  
      img[src="../assets/images/Logos_UAM-08.png"] {
        max-width: 70px;
        height: auto;
        margin-right: 3%;
      }
    }
    
  
    @media (max-width: 950px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
  
      #menu-list.show-menu {
        width: 89%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #f6f5f7;
        padding: 10px 20px;
        z-index: 1;
        width: 89%;
      }
  
      .slidePic {
        width: auto;
        height: 250px;
      }
  
      .uamLogo {
        display: none;
      }
  
      .menu-toggle {
        background: none;
        border: none;
        font-size: 24px;
        color: #ffffff;
        display: block;
      }
  
      img.hide-logo {
        display: none;
      }
  
      #menu-list {
        display: none;
        top: 60px;
        right: 10px;
        left: 0;
        padding: 10px 20px;
        z-index: 1;
        width: 100%;
  
        li {
          text-align: center;
  
          a {
            font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
            font-weight: bold;
  
            &:hover {
              color: blue;
              background-color: none;
            }
          }
        }
  
        &.show-menu {
          display: list-item;
          margin-top: 8%;
          background-color: rgb(197, 196, 193);
          flex-direction: column;
          position: absolute;
        }
      }
    }
  }
